body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  color: #424242;
}

a {
  text-decoration: none;
  font-style: normal;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 288px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/* header */
.header {
  background-color: #e43071;
}

.header-container {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-weight: 800;
  font-size: 21px;
  line-height: 1.1;
  text-align: center;
  color: #fff;
}

.life-color {
  color: #ffc1d8;
}

.header-list {
  display: none;
}

.search-wrap {
  display: flex;
  align-items: center;
}

.header-search-title {
  display: none;
}

.header-btn {
  display: none;
}

.header-search {
  margin-right: 20px;
  fill: #fff;
  stroke: #fff;
}

.header-search:hover,
.header-search:focus {
  fill: grey;
  stroke: grey;
}

.header-menu {
  fill: #fff;
}

.header-menu:hover,
.header-menu:focus {
  fill: grey;
}

/* hero */

.hero {
  padding-top: 103px;
  padding-bottom: 150px;
  background-image: url(../images/bg/heroBG-mob-1x.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  text-align: center;
  color: #fff;
  margin-bottom: 23px;
}

.hero-btn {
  border-radius: 38px;
  width: 208px;
  height: 56px;
  background-color: #e43071;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 2.3;
  text-align: center;
  color: #fff;
}

.header-slider {
  position: absolute;
  bottom: 0;
}

/* .header-path2 {
  position: absolute;
  bottom: 0;
} */
